<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muscidae.parrot.example.mapper">
    <!-- region IdentityEntity -->
    <resultMap id="IdentityResultMap" type="com.muscidae.parrot.common.entity.po.IdentityEntity">
        <id column="id" property="id" />
    </resultMap>
    <!-- include to the end -->
    <sql id="Identity_Column">
        <trim prefix=",">
            id
        </trim>
    </sql>
    <!-- endregion -->
    <!-- region PersistentEntity -->
    <resultMap id="PersistentResultMap" type="com.muscidae.parrot.common.entity.po.PersistentEntity" extends="IdentityResultMap">
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="flag" property="flag" />
    </resultMap>
    <!-- include to the end -->
    <sql id="Persistent_Column">
        <trim prefix="," suffixOverrides=",">
            create_time, update_time, flag
        </trim>
    </sql>
    <!-- endregion -->
    <!-- include to the end -->
    <sql id="Base_Column">
        <include refid="com.muscidae.parrot.example.mapper.Identity_Column" />
        <include refid="com.muscidae.parrot.example.mapper.Persistent_Column" />
    </sql>

</mapper>